# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app minecraft-survival
spec:
  interval: 30m
  chart:
    spec:
      # renovate: registryUrl=https://itzg.github.io/minecraft-server-charts/
      chart: minecraft
      version: 4.23.7
      sourceRef:
        kind: HelmRepository
        name: itzg-charts
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
  - name: rook-ceph-cluster
    namespace: rook-ceph
  - name: volsync
    namespace: storage
  values:
    affinity: # TODO Until ainias upgrade
      nodeAffinity:
        requiredDuringSchedulingIgnoredDuringExecution:
          nodeSelectorTerms:
          - matchExpressions:
            - key: kubernetes.io/hostname
              operator: NotIn
              values:
              - ainias
      podAntiAffinity: # TODO Until ainias upgrade
        preferredDuringSchedulingIgnoredDuringExecution:
        - weight: 100
          podAffinityTerm:
            labelSelector:
              matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                - minecraft-survival
            topologyKey: kubernetes.io/hostname
    # deploymentAnnotations:
    #   secret.reloader.stakater.com/reload: minecraft-survival-secret
    image:
      repository: ghcr.io/itzg/minecraft-server
      tag: stable@sha256:498b3e03fc49cde4370f2f5a20552751526c8d6774dde12d5f4a0b92c95b00b5
    resources:
      requests:
        cpu: 100m
      limits:
        memory: 8Gi
    securityContext:
      runAsUser: 1000
      fsGroup: 100
    livenessProbe:
      enabled: false
      command:
        - echo
      initialDelaySeconds: 30
      periodSeconds: 5
      failureThreshold: 20
      successThreshold: 1
      timeoutSeconds: 1
    readinessProbe:
      enabled: false
      command:
        - echo
      initialDelaySeconds: 30
      periodSeconds: 5
      failureThreshold: 20
      successThreshold: 1
      timeoutSeconds: 1
    startupProbe:
      command:
        - echo
      enabled: false
      failureThreshold: 30
      periodSeconds: 10
    extraEnv:
      TZ: ${TIMEZONE}
      ENABLE_AUTOPAUSE: TRUE # Doesn't work in Kubes
    persistence:
      dataDir:
        enabled: true
        existingClaim: *app
    serviceAnnotations:
      mc-router.itzg.me/externalServerName: &host survival.${SECRET_DOMAIN}
    minecraftServer:
      eula: true
      version: "1.21.4"
      type: PAPER
      overrideServerProperties: true
      jvmXXOpts: "-XX:MaxRAMPercentage=75"
      memory: 8192M
      difficulty: normal
      spawnProtection: 0
      gameMode: survival
      pvp: true
      onlineMode: true
      #whitelist: "Vrozaksen"
      ops: "Vrozaksen"
      motd: "Just Vanilla Survival"
      worldSaveName: survival
      viewDistance: 12
      # serviceAnnotations:
      #   lbipam.cilium.io/ips: ${SVC_SURVIVAL_ADDR}
      # serviceType: LoadBalancer
      pluginUrls:
      - https://github.com/Norbit4/TreeCuter/releases/download/v1.8.8/TreeCuter-v1.8.8.jar
      #- https://cdn.modrinth.com/data/BETNSd2r/versions/n8DhYGER/LetUrMemoryRest-4.0.jar
      - https://cdn.modrinth.com/data/IEt1Yy3F/versions/QXCh3qCi/SeeMore-1.0.2.jar
      - https://cdn.modrinth.com/data/N38KJjIT/versions/tcbqRM4z/BetterReload-plugin-1.4.0.jar
      #- https://cdn.modrinth.com/data/PviisYrr/versions/HDQLwfeA/LightOptimizer-4.0.2-BETA.jar
      - https://cdn.modrinth.com/data/Cz6msz34/versions/12mBIJ2C/AxGraves-1.17.1.jar
      - https://cdn.modrinth.com/data/pZ2wrerK/versions/QaJSSuMq/emotecraft-paper-for-MC1.21.4-2.5.1-b.build.72.jar
      spigetResources:
      - 36618 #Prom Exporter
      - 105695 #Xaero Map Spigot
      - 31585 #One Player Sleep
      - 64270 #Simple Tpa
      - 81534 #Chunky
      #- 18494 #DiscordSRV
      rcon:
        enabled: true
      extraPorts:
      - name: metrics
        containerPort: 9225
        protocol: TCP
        service:
          enabled: true
          embedded: false
          type: ClusterIP
          port: 9225
        ingress:
          ingressClassName: external
          enabled: true
          annotations:
            external-dns.alpha.kubernetes.io/target: mc.${SECRET_DOMAIN}
            external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
          hosts:
           - name: *host
  valuesFrom:
  - kind: Secret
    name: minecraft-survival-secret
    valuesKey: RCON_PASSWORD
    targetPath: minecraftServer.rcon.password
