# Trash
.DS_Store
Thumbs.db
# Brew
/.private/
/.task/
Brewfile.lock.json
# k8s
kubeconfig
talosconfig
.decrypted~*.yaml
.decrypted~*
*.secret.env
*.secret.yaml
.config.env
*.agekey
*.pub
*.key
*.pem
# Other
*.psql
# Private
.private
.bin
# Ansible
.venv*
# Taskfile
.task
# intellij
.idea
# wiki
wiki
# Bootstrap
/config.yaml
/private.pem
/public.pem
# Terraform
.terraform
.terraform.tfstate*
.terraform.lock.hcl
terraform.tfstate*
*.tfvars
#Teehee
*-STEAL*
