---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app smartctl-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: prometheus-smartctl-exporter
      version: 0.13.0
      sourceRef:
        kind: HelmRepository
        name: prometheus-community
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  uninstall:
    keepHistory: false
  values:
    fullnameOverride: *app
    image:
      repository: ghcr.io/vrozaksen/smartctl_exporter
      tag: 0.13.0@sha256:19bdf2e595184b5b79a7959123cbbab695bb2ecb219c495f7df25bdee766b5e1
    serviceMonitor:
      enabled: true
      relabelings:
        - action: labeldrop
          regex: (pod)
    prometheusRules:
      enabled: false
