---
apiVersion: v1
kind: Namespace
metadata:
  name: cert-manager
---
apiVersion: v1
kind: Secret
metadata:
  name: vzkn.eu-tls
  namespace: network
  annotations:
    cert-manager.io/alt-names: '*.vzkn.eu,vzkn.eu'
    cert-manager.io/certificate-name: vzkn.eu
    cert-manager.io/common-name: vzkn.eu
    cert-manager.io/ip-sans: ""
    cert-manager.io/issuer-group: ""
    cert-manager.io/issuer-kind: ClusterIssuer
    cert-manager.io/issuer-name: letsencrypt-production
    cert-manager.io/uri-sans: ""
  labels:
    controller.cert-manager.io/fao: "true"
type: kubernetes.io/tls
data:
  tls.crt: {{ ENV.INGRESS_NGINX_TLS_CRT }}
  tls.key: {{ ENV.INGRESS_NGINX_TLS_KEY }}
---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Secret
metadata:
  name: bitwarden
  namespace: external-secrets
stringData:
  token: {{ ENV.BITWARDEN_KUBERNETES_TOKEN }}
