---
# yaml-language-server: $schema=https://kube-schemas.pages.dev/external-secrets.io/externalsecret_v1beta1.json
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: &name neko-secret
spec:
  target:
    name: *name
    template:
      data:
        NEKO_PASSWORD: "{{ .NEKO_PASSWORD }}"
        NEKO_PASSWORD_ADMIN: "{{ .NEKO_ADMIN_PASSWORD }}"
  dataFrom:
  - extract:
      key: neko
    sourceRef:
       storeRef:
         kind: ClusterSecretStore
         name: bitwarden
