---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: &app outline
spec:
  commonMetadata:
    labels:
      app.kubernetes.io/name: *app
  components:
    - ../../../../../shared/components/gatus/guarded
  interval: 30m
  dependsOn:
    - name: crunchy-postgres-cluster
      namespace: database
    - name: crunchy-postgres-stores
      namespace: database
    - name: dragonfly-cluster
      namespace: database
    - name: bitwarden-store
      namespace: external-secrets
  path: ./kubernetes/main/apps/self-hosted/outline/app
  postBuild:
    substitute:
      APP: *app
      VOLSYNC_CAPACITY: 2Gi
      GATUS_SUBDOMAIN: docs
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: self-hosted
  timeout: 5m
  wait: false
